/* Reset default margin and padding for the header, h1, and ul */
header, h1, ul {
    margin: 0;
    padding: 0;
}

/* Style the header to create a horizontal flex container */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3a3a; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    padding: 10px 20px; /* Adjust padding as needed */
}

/* Style the h1 */
h1 {
    font-size: 24px; /* Adjust the font size as needed */
}

header a {
    text-decoration: none;
    color: #fff; /* Adjust the link color as needed */
    font-weight: bold; /* Adjust font-weight as needed */
    list-style-type: none;
}

/* Style the navigation menu */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Adjust the margin as needed to separate menu items */
}

nav a {
    text-decoration: none;
    color: #fff; /* Adjust the link color as needed */
    font-weight: bold; /* Adjust font-weight as needed */
}

/* Restaurant image - placed under header and nav element */
#restaurant {
    width: 100%;
    height: auto;
    background-image: url("../images/restaurant-image.jpg");
}

/* Footer */ 
#social-media { 
    text-align: center; 
    padding: 20px 0; 
    display: flex; 
    justify-content: space-evenly; 
    list-style-type: none; 
} 

#social-media li { 
    font-size: 160%; 
    padding: 5%; 
    color: #ffffff; 
    display: inline-block; 
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    nav {
        display: flex;
    }
    }

@media screen and (min-width: 1200px) {    
        /* Reasons section */
        #benefits {
            display: flex;
            flex-direction: row;
        }
    }