/* Google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

/* Reset default margin and padding for the header, h1, and ul */ 

header, h1, ul { 
  margin: 0; 
  padding: 0; 
  } 
  
  body {
    background-color: #E1DED9;
  }
  /* Style the header to create a horizontal flex container */ 
  header { 
  display: flex; 
  justify-content: space-between; 
  background-color: #3a3a3a; /* Adjust the background color as needed */ 
  color: #fff; /* Adjust the text color as needed */ 
  padding: 10px 20px; /* Adjust padding as needed */ 
  } 
   
  /* Style the h1 */ 
  h1 { 
  font-size: 600%; /* Adjust the font size as needed */ 
  font-family: 'Italianno', sans-serif;
  } 
    
  header a { 
  text-decoration: none; 
  color: #fff; /* Adjust the link color as needed */ 
  font-weight: bold; /* Adjust font-weight as needed */ 
  list-style-type: none; 
  } 

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    word-spacing: 6px;
  }
  
  nav li { 
  display: inline; 
  margin-right: 10px; /* Adjust the margin as needed to separate menu items */ 
  list-style-type: none; 
  letter-spacing: 4px;
  } 
  
  nav a { 
  text-decoration: none; 
  color: #fff; /* Adjust the link color as needed */ 
  font-weight: bold; /* Adjust font-weight as needed */ 
  }

  h2 {
    background-color: #3a3a3a;
    color: #ffffff;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #7E7B78;
    text-align: center;
    padding: 8px;
    }

    th, td {
      border: 1px solid #7E7B78;
      text-align: center;
      padding: 8px;
    }
  
  th {
    background-color: #E1DED9;
  }
  
  div.scroll-container { 
    overflow: auto; 
    white-space: nowrap; 
    padding: 10px;
  } 
  
  div.scroll-container img { 
    padding: 10px; 
    margin: 0;  
    max-height: 200px;
  } 

   /* Media query: Foldable phones and smaller screen sizes - landscape and portrait (280px and up) */ 
   @media screen and (min-width: 280px) { 
    /* Header */
    
    header {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1, nav {
      text-align: center;
      align-items: center
    }

    nav { 
    display: inline; 
    position: relative; 
    box-shadow: none; 
    width: fit-content; 
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    } 

    nav ul {
      list-style: none;
      padding: 25px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-items: center;
    }
    
    nav li {
      display: inline;
      margin: 0;
      padding: 10px 0;
      border-top: 1px solid #444444
    }

    strong {
      font-size: 80%;
    }
    }

    /* Media query: Phones - landscape and portrait (540px and up) */ 
    @media screen and (min-width: 540px) { 
      /* Header */
      
      header {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h1, nav {
        text-align: center;
        align-items: center
      }

      nav { 
      display: inline; 
      position: relative; 
      box-shadow: none; 
      width: fit-content; 
      padding: 25px;
      flex-direction: column;
      justify-content: center;
      } 

      nav ul {
        list-style: none;
        padding: 25px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
      }
      
      nav li {
        display: inline;
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid #444444
      }
      }

  h2 { 
    text-transform: uppercase; 
    text-align: center; 
    margin-top: 20px;
    font-size: 200%; 
  } 

  h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    font-size: 200%;
  }

  p {
    font-size: 130%;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: 0;
    font-family: 'lato', sans-serif;
  }

  /* Meet the chefs section */
  .image-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
  }

  .image-collage img {
    max-width: 100%;
    height: auto;
    margin: 10px;
  }
  
  /* Footer */  
  #social-media {  
  text-align: center;  
  padding: 20px 0;  
  display: flex;  
  justify-content: space-evenly;  
  list-style-type: none;  
  }  
     
  #social-media li {  
  font-size: 160%;  
  padding: 5%;  
  color: #ffffff;  
  display: inline-block;  
  } 

  /* Tablets and larger handheld devices 900px and up*/ 
  @media screen and (min-width: 900px) { 
  /* Header */ 

      header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      nav { 
      display: inline; 
      position: relative; 
      box-shadow: none; 
      width: fit-content; 
      padding-right: 1rem; 
      flex-direction: column;
      } 
      
      nav li {
        display: inline;
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid #444444
      }
      } 

     /* (laptops and desktops, 1200px and up) */
      @media screen and (min-width: 1200px) {  
      /* Header */ 
      nav { 
      display: inline; 
      position: relative; 
      box-shadow: none; 
      width: fit-content; 
      padding-right: 1rem; 
      flex-direction: column;
      } 
      
      nav li {
        display: inline;
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid #444444

  } 
  } 
  
   