/* Google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Default margin and padding for the header, h1, and ul */ 
  header, h1, ul { 
    margin: 0; 
    padding: 0; 
  } 
  
  body {
    background-color: #f5f1eb;
  }

  /* Horizontal flex container */ 
  header { 
    display: flex; 
    justify-content: space-between; 
    background-color: #3a3a3a;
    color: #fff;
    padding: 2px 5px;
  } 
   
  /* Main header style */ 
  h1 { 
    font-family: 'Italianno', sans-serif;
  } 
  
  /* Style for the h1 element that allows to refresh or go back to main page */
  header a { 
    text-decoration: none; 
    color: #fff;
  } 
  
  /* Style for navigation menu below h1 */
  nav li { 
    display: inline; 
    margin-right: 10px;
    list-style-type: none; 
    letter-spacing: 4px;
    text-decoration: none; 
    color: #fff;
    font-weight: bold;
  }

  /* Color of all h2 elements in addition to background */
  h2 {
    background-color: #3a3a3a;
    color: #ffffff;
  }

  /* About us section on the homepage */
  #about-us {
    border: 2px solid #7E7B78; 
    padding: 5px; 
    margin: 10px; 
    text-align: center; 
  }

  /* Contact us regarding bookings and events on the home page */
  #contact-us {
    border: 2px solid #7E7B78; 
    padding: 5px; 
    margin: 10px; 
    text-align: center; 
  }

  /* Opening and closing times table on the homepage */
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #7E7B78;
    text-align: center;
    padding: 2px;
    }

    th, td {
      border: 1px solid #7E7B78;
      text-align: center;
      padding: 8px;
    }
  
  /* Image/gallery scroller below the header element */
  div.scroll-container { 
    overflow: auto; 
    white-space: nowrap; 
    padding: 5px;
    margin: 0 auto;
    box-sizing: border-box;
  } 
  
  div.scroll-container img { 
    max-width: 375px;
    height: 250px;
  } 

  /*footer copy right text*/
  footer p {
    text-align: center;
    font-weight: bold;
  }

    /* Media query: Foldable phones and smaller screen sizes - landscape and portrait (280px and up) */ 
   @media screen and (min-width: 280px) {
    /* Header */
    header {
    padding: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
   margin-top: 10px;
   padding-top: 2px;
   text-align: center;
   align-items: center;
   padding-right: 5px;
   font-size: 75px;
   margin-bottom: 2px;
  }

  /* Navigation positioning when changing screen sizes */
  nav { 
    display: inline; 
    position: relative; 
    width: fit-content; 
    padding: 5px;
    text-align: center;
    align-items: center;
    font-size: 14px;
  } 

  /* Navigation menu will alter to vertical list when screen size is reduced */  
  nav li {
    display: grid;
    margin: 0;
    padding: 5px 5px;
    border-top: 1px solid #444444;
    margin-right: 0;
    font-size: 1.0rem
  }

  /* Text size for contact information on main page under contact us title, to prevent from overlapping border */
  #contact strong {
    font-size: 13px;
  }

  /* Text size for all h2 elements on pages */
  h2 { 
    text-transform: uppercase; 
    text-align: center; 
    margin-top: 10px;
    font-size: 24px; 
  } 

  /* Text size for all h3 elements on pages */
  h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }

  /* Text size for all p elements on pages */
  p {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: 0;
    font-family: 'lato', sans-serif;
  }

  /* Opening times */
  #opening-times {
    border: 2px solid #7E7B78; 
    padding: 5px; 
    margin: 10px; 
    text-align: center; 
  }

  /* Lunch, dinner, dessert and wine menu navigation */
  #menu-navigation {
    text-align: center;
    border: 2px solid #7E7B78; 
    padding: 5px; 
    margin: 10px; 
  }

  #menu-navigation a {
    text-decoration: none;
    word-spacing: 1px;
    display: inline-block;
    border: 1px solid #7E7B78;
    padding: 5px 10px;
    color: #000000;
    background-color: #ffffff;
  }

  /* All food headers in menu */
  #menu h5 {
    font-size: 105%;
    }

  /* Lunch menu border and header styling */
  #lunch-menu {
    border: 2px solid #7E7B78;
    padding: 5px;
    margin: 10px;
    text-align: center;
    }
    
  #lunch-menu h3 {
    color: #ffffff;
    background-color: #3a3a3a;
    }
  
  /* Dinner menu border and header styling */
  #dinner-menu {
    border: 2px solid #7E7B78;
    padding: 5px;
    margin: 10px;
    text-align: center;
    }
    
  #dinner-menu h3 {
    color: #ffffff;
    background-color: #3a3a3a;
    }
  
  /* Dessert menu border and header styling */
  #dessert-menu {
    border: 2px solid #7E7B78;
    padding: 5px;
    margin: 10px;
    text-align: center;
    }
    
  #dessert-menu h3 {
    color: #ffffff;
    background-color: #3a3a3a;
    }
  
  /* Wine menu border and header styling */
  #wine-selection {
    border: 2px solid #7E7B78;
    padding: 5px;
    margin: 10px;
    text-align: center;
    }
    
  #wine-selection h3,
  #wine-selection h4 {
    color: #ffffff;
    background-color: #3a3a3a;
    }

  /* Bookings page */
  #events {
    border: 2px solid #7E7B78; 
    padding: 5px; 
    margin: 10px; 
    text-align: center; 
    }

  #dining li {
    text-align: center;
    }

  #dining h3 {
    color: #ffffff;
    background-color: #3a3a3a;
    }

  .occasion-list {
    list-style-type: none;
    }

  /* Reservation form layout */ 
  .enquiry {
    display: block;
    text-align: center;
    padding: 5px;
  }

  .enquiry h3 {
    color: #ffffff; 
    background-color: #3a3a3a; 
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="dietary_requirements"],
  input[type="special_requests"],
  textarea {
    width: 80%;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
  }

  #reservations-form {
    border: 2px solid #7E7B78; 
    padding: 5px; 
    margin: 10px; 
    text-align: center; 
  }
}
  
  /* Footer including social media links */  
  #social-media {  
    text-align: center;  
    display: flex;  
    justify-content: space-evenly;  
    list-style-type: none;  
  }  
     
  #social-media li {  
    font-size: 160%;  
    padding: 5%;  
    color: #ffffff;  
    display: inline-block;  
  } 

  /* Lunch, dinner, dessert and wine navigation menu so it appears as a vertical list when adjusting for screen sizes up to width of 314px */
  @media screen and (min-width: 280px) and (max-width: 314px) {
  #menu-navigation a {
    text-decoration: none;
    word-spacing: 1px;
    display: block;
    border: 1px solid #7E7B78;
    padding: 5px 10px;
    color: #000000;
    background-color: #ffffff;
    }
  }

  /* Tablets and larger handheld devices 603px and larger screen sizes*/ 
  @media screen and (min-width: 603px) {

  /* Header */ 
  h1 {
    margin-top: 20px;
    font-size: 7.5em;
      }

  header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
  /* Navigation menu spacing to increase depending on the size of the screen */
  nav li {
      display: inline-block;
      margin-right: 30px;
      padding: 10px 0;
      border-top: 1px solid #444444;
      word-spacing: 10px;
      font-size: 175%;
      list-style: none;
    }

  /* to ensure last nav item "contact" was not affected by margin right element above */
  nav li:last-child {
      margin-right: 0;
    }

  /* Opening times */
  #opening-times {
      border: 2px solid #7E7B78; 
      padding: 5px; 
      margin: 10px; 
      text-align: center; 
    }
  } 

   