/* Google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato:ital,wght@0,300;1,300&display=swap'); 

/* Reset default margin and padding for the header, h1, and ul */ 

header, h1, ul { 
  margin: 0; 
  padding: 0; 
  } 
    
  /* Style the header to create a horizontal flex container */ 
  header { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #3a3a3a; /* Adjust the background color as needed */ 
  color: #fff; /* Adjust the text color as needed */ 
  padding: 10px 20px; /* Adjust padding as needed */ 
  } 
   
  /* Style the h1 */ 
  h1 { 
  font-size: 24px; /* Adjust the font size as needed */ 
  } 
    
  header a { 
  text-decoration: none; 
  color: #fff; /* Adjust the link color as needed */ 
  font-weight: bold; /* Adjust font-weight as needed */ 
  list-style-type: none; 
  } 

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    word-spacing: 6px;
  }
  
  nav li { 
  display: inline; 
  margin-right: 10px; /* Adjust the margin as needed to separate menu items */ 
  list-style-type: none; 
  letter-spacing: 4px;
  } 
  
  nav a { 
  text-decoration: none; 
  color: #fff; /* Adjust the link color as needed */ 
  font-weight: bold; /* Adjust font-weight as needed */ 
  }   

    /* Media query: tablets and larger (768px and up) */ 
    @media screen and (min-width: 768px) { 
      /* Header */ 
      nav { 
      display: inline; 
      position: relative; 
      box-shadow: none; 
      width: fit-content; 
      padding-right: 1rem; 
      flex-direction: column;
      } 
      
      nav li {
        display: inline;
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid #444444
      }
      } 
  
  /* Restaurant image - placed under header and nav element */ 
  #restaurant { 
  width: 100%; 
  height: auto; 
  background-image: url("../images/restaurant-image.jpg"); 
  } 

  h2 { 
    text-transform: uppercase; 
    text-align: center; 
    margin-top: 20px; 
  } 

  h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Footer */  
  #social-media {  
  text-align: center;  
  padding: 20px 0;  
  display: flex;  
  justify-content: space-evenly;  
  list-style-type: none;  
  }  
     
  #social-media li {  
  font-size: 160%;  
  padding: 5%;  
  color: #ffffff;  
  display: inline-block;  
  } 

  /* Large devices (laptops and desktops, 992px and up) */ 
  @media screen and (min-width: 992px) { 
  /* Header */ 
      nav { 
      display: inline; 
      position: relative; 
      box-shadow: none; 
      width: fit-content; 
      padding-right: 1rem; 
      flex-direction: column;
      } 
      
      nav li {
        display: inline;
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid #444444
      }
      } 

  @media screen and (min-width: 1200px) {  
  /* Reasons section */ 
      /* Header */ 
      nav { 
      display: inline; 
      position: relative; 
      box-shadow: none; 
      width: fit-content; 
      padding-right: 1rem; 
      flex-direction: column;
      } 
      
      nav li {
        display: inline;
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid #444444

  } 
  } 
  
   