/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Default margin and padding for the header, h1, and ul */
header, h1, ul {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Main header style */
h1 {
  font-family: 'Italianno', sans-serif;
}

/* headers color and background color for each section of the index.html page */
.about-us h2 {
  background-color: #3a3a3a;
  color: #ffffff;
}

.contact-us h2 {
  background-color: #3a3a3a;
  color: #ffffff;
}

#opening-times h2 {
  background-color: #3a3a3a;
  color: #ffffff;
}

/*Image scroll container found below the header this prevents the images from going beyond the width of the screen */
.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
  width: 100%;
}

/* Defined image size */
.scroll-container img {
  max-width: 100%;
  height: auto;
}

/* Text size for all p elements on pages */
p {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
  padding: 0;
  font-family: 'lato', sans-serif;
}

/* About us section on the homepage */
.about-us {
  border: 2px solid #7E7B78;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

/* Contact us section on the homepage */
.contact-us {
  border: 2px solid #7E7B78;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.contact-us a {
  color: #C42357;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}

/* Opening and closing times table on the homepage */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #7E7B78;
  text-align: center;
  padding: 2px;
}

th, td {
  border: 1px solid #7E7B78;
  text-align: center;
  padding: 8px;
}

/* Book Now page */
#events {
  border: 2px solid #7E7B78;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.enquiry h3 {
  color: #3a3a3a;
  text-decoration: underline;
}

#dining h2 {
  color: #ffffff;
  background-color: #3a3a3a;
}

/* Menu page */
h5 {
  font-size: 18px;
}

#lunch-menu a {
  color: #C42357;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}

#dinner-menu a {
  color: #C42357;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}


#dessert-menu a {
  color: #C42357;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}


#wine-menu a {
  color: #C42357;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}


/* Footer copyright text */
footer {
  background-color: #36383F;
}

footer p {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

 /* Media query: Foldable phones and smaller screen sizes - landscape and portrait (280px width - 773px) */
@media screen and (max-width: 773px) {
  /* Theming */
  :root {
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
  }

  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--white);
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  /* Header */
  .header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  /* Logo */
  .logo {
    display: inline-block;
    color: var(--white);
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
  }

  /* Nav menu */
  .nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
  }

  .menu a {
    display: block;
    padding: 15px;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
  }

  .menu a:hover {
    background-color: var(--gray);
  }

  .nav {
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  /* Menu Icon */
  .hamb {
    cursor: pointer;
    float: right;
    padding: 25px 20px;
    z-index: 25;
  }

  /* Style label tag */
  .hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  } 
  
  /* Style span tag */
  .hamb-line::before,
  .hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .hamb-line::before {
    top: 5px;
  }

  .hamb-line::after {
    top: -5px;
  }

  /* Hide checkbox */
  .side-menu {
    display: none;
  }

  /* Toggle menu icon */
  .side-menu:checked ~ nav {
    max-height: 60%;
  }

  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }

  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  /* Anchor class that enables the user to jump to a specific section of a page without the navigation bar overlapping */
  .anchor {
    display: block;
    height: 57px;
    margin-top: -57px;
    visibility: hidden;
  }

  .lunch h2,
  .lunch h3,
  .lunch h4 {
    text-decoration: underline;
  }

  #lunch-menu {
    border: 2px solid #7E7B78;
    padding: 5px;
    margin: 0 20px;
    text-align: center;
  }
  
  /* Dinner menu border and header styling */
  #dinner-menu {
    border: 2px solid #7E7B78;
    padding: 5px;
    margin: 0 20px;
    text-align: center;
  }
  
  /* Dessert menu border and header styling */
  #dessert-menu {
    border: 2px solid #7E7B78;
    padding: 5px;
    margin: 0 20px;
    text-align: center;
  }
  
  /* Wine menu border and header styling */
  #wine-menu {
    border: 2px solid #7E7B78;
    padding: 5px;
    margin: 0 20px;
    text-align: center;
  }

  /* Footer including social media links */
#social-media {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  color: white;
}

#social-media li {
  font-size: 140%;
  padding: 5%;
  color: #ffffff;
  display: inline-block;
}

/* Opening times */
#opening-times {
  border: 2px solid #7E7B78;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

/* Reservation form layout */
.enquiry {
  border: 2px solid #ccc; /* Example border style */
  padding: 20px; /* Example padding */
  width: 100%; /* Adjust the width of the box */
  max-width: 600px; /* Set a maximum width if needed */
  background-color: #f9f9f9; /* Example background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="dietary_requirements"],
input[type="special_requests"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#reservations-form {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 10px; /* Adjust the space between the box and page edges */
    background-image: url("/assets/images/background-form-image.webp");
    background-size: cover;
    background-position: center;
    z-index: 1;  
}

input[type="date"],
input[type="time"] {
  text-align: center;
}

/* Centers text inside the event type selection on the reservations form */
.centered-text {
  text-align: center;
}

menu-options {
  list-style: none;
  padding: 0;
  position: center;
}

.menu-options li {
  margin-bottom: 5px;
}

/* Lunch, dinner, dessert, and wine menu navigation */
#menu-navigation {
  text-align: center;
  border: 2px solid #7E7B78;
  padding: 5px;
  margin: 10px;
}

#menu-navigation li {
  text-decoration: none;
  word-spacing: 1px;
  display: grid;
  border: 1px solid #7E7B78;
  padding: 5px 10px;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
}
}

/* Media query for tablets and other devices with a screen width over 773px */
@media (min-width: 774px) {
  .side-menu {
    display: none; /* Hide the checkbox */
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    text-decoration: none;
    list-style-type: none;
    margin-top: 9px;
    color: #f9f9f9;
    margin-left: 10px;
    font-size: 34px;
  }

  .nav .menu li a {
    color: white;
    margin-right: 20px;
    font-size: 24px;
    margin-top: 8px;
    padding: 10px;
    /* Set the text color to white */
    /* Additional styles */
  }

  /* Ensures that the nav list has sufficient room in the header as screen size is reduced before nav reverts to drop down menu */
  .nav .menu li a:last-child {
    margin-right: 0;
  }

  .nav .menu li a:hover {
    /* Optional: Styles for link hover state */
    background-color: #eee; /* Change background color on hover */
    color: black; /* Change text color on hover */
    /* Additional hover styles */
  }

  a:hover {
    text-decoration: none;
  }

  .logo h1 {
    margin: 0; /* Remove default margin */
  }

  .nav {
    margin-left: auto; /* Pushes nav to the right */
  }

  .menu {
    list-style: none;
    padding: 0;
    display: flex;
  }

  .menu li {
    margin-right: 15px; /* Adjust spacing between menu items */
  }

  .menu a {
    text-decoration: none;
    color: #333; /* Adjust color as needed */
  }

  /* Horizontal flex container */
  header {
    display: block;
    justify-content: space-between;
    background-color: #36383f;
    top: 0;
  }

  h1 {
    margin-top: 10px;
    padding-top: 2px;
    text-align: center;
    align-items: center;
    padding-right: 5px;
    font-size: 55px;
    margin-bottom: 2px;
  }

  /* Navigation positioning when changing screen sizes */
  nav {
    display: inline;
    position: relative;
    width: fit-content;
    padding: 5px;
    text-align: center;
    align-items: center;
    font-size: 16px;
  }

  /* Opening times */
  #opening-times {
    border: 2px solid #7E7B78;
    padding: 5px;
    margin: 10px;
    text-align: center;
  }

  /*Image scroll container found below the header this prevents the images from going beyond the width of the screen */
  .scroll-container {
    overflow: auto;
    white-space: nowrap;
    max-width: 100%;
  }

  .scroll-container img {
    max-width: 100%;
    height: auto;
  }

/* Menu page */

hr {
  width: 100%;
}

/*Lunch menu responsive container */
  #lunch-menu {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 20px; /* Adjust the space between the box and page edges */
    background-size: cover;
    background-position: 35% 55%;
    background-image: url("/assets/images/background-lunch-menu-image.webp");
  }

/*Lunch menu responsive background-image */
  .lunch {
    border: 2px solid #ccc;
    padding: 5px;
    width: 100%; /* Adjust the width of the box */
    max-width: 600px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .lunch h2,
  .lunch h3,
  .lunch h4 {
    text-decoration: underline;
  }

  /*Dinner menu responsive container */
  #dinner-menu {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 20px; /* Adjust the space between the box and page edges */
    background-size: cover;
    background-position: 35% 55%;
    background-image: url("/assets/images/background-dinner-menu-image.webp");
  }

/*Dinner menu responsive background-image */
  .dinner {
    border: 2px solid #ccc;
    padding: 5px;
    width: 100%; /* Adjust the width of the box */
    max-width: 600px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .dinner h2,
  .dinner h3,
  .dinner h4 {
    text-decoration: underline;
  }

  /* Dessert menu responsive container */
  #dessert-menu {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 20px; /* Adjust the space between the box and page edges */
    background-size: cover;
    background-position: 35% 55%;
    background-image: url("/assets/images/background-dessert-menu-image.webp");
  }

/*Dessert menu responsive background-image */
  .dessert {
    border: 2px solid #ccc;
    padding: 5px;
    width: 100%; /* Adjust the width of the box */
    max-width: 600px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .dessert h2,
  .dessert h3,
  .dessert h4 {
    text-decoration: underline;
  }

   /* Wine menu responsive container */
   #wine-menu {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 20px; /* Adjust the space between the box and page edges */
    background-size: cover;
    background-position: 35% 55%;
    z-index: 1; 
    background-image: url("/assets/images/background-wine-menu-image.webp");
  }

/*Wine menu responsive background-image */
  .wine {
    border: 2px solid #ccc;
    padding: 5px;
    width: 100%; /* Adjust the width of the box */
    max-width: 600px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .wine h2,
  .wine h3,
  .wine h4 {
    text-decoration: underline;
  }

  footer p {
    font-size: 16px;
}
  
h1 {
  font-size: 40px;
}

/* Text size for all h2 elements on pages */
h2 {
  text-align: center;
  font-size: 24px;
}

/* Text size for all h3 elements on pages */
h3 {
  text-align: center;
  font-size: 20px;
}

/* Text size for all h4 elements on pages */
h4 {
  text-align: center;
  font-size: 18px;
}

/* Opening times */
#opening-times {
  border: 2px solid #7E7B78;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

/* Lunch, dinner, dessert, and wine menu navigation */
#menu-navigation {
  text-align: center;
  border: 2px solid #7E7B78;
  padding: 5px;
  margin: 10px;
}

#menu-navigation li {
  text-decoration: none;
  word-spacing: 1px;
  display: grid;
  border: 1px solid #7E7B78;
  padding: 5px 10px;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
}

/* Lunch menu border and header styling */
#lunch-menu {
  border: 2px solid #7E7B78;
  padding: 5px;
  text-align: center;
}

/* Dinner menu border and header styling */
#dinner-menu {
  border: 2px solid #7E7B78;
  padding: 5px;
  text-align: center;
}

/* Dessert menu border and header styling */
#dessert-menu {
  border: 2px solid #7E7B78;
  padding: 5px;
  text-align: center;
}

#dessert-menu h3 {
  color: #ffffff;
  background-color: #3a3a3a;
}

/* Wine menu border and header styling */
#wine-menu {
  border: 2px solid #7E7B78;
  padding: 5px;
  text-align: center;
}

/* Bookings page */
#events {
  border: 2px solid #7E7B78;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

#dining h3 {
  color: #ffffff;
  background-color: #3a3a3a;
}

/* Reservation form layout */
.enquiry {
  border: 2px solid #ccc; /* Example border style */
  padding: 20px; /* Example padding */
  width: 100%; /* Adjust the width of the box */
  max-width: 600px; /* Set a maximum width if needed */
  background-color: #f9f9f9; /* Example background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="dietary_requirements"],
input[type="special_requests"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="date"],
input[type="time"] {
  text-align: center;
}

/* Centers text inside the event type selection on the reservations form */
.centered-text {
  text-align: center;
}

#reservations-form {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 10px; /* Adjust the space between the box and page edges */
    background-image: url("/assets/images/background-form-image.webp");
    background-size: cover;
    background-position: center;
    z-index: 1;  
}

.background-image {
  position: relative;
  z-index: 1;
}

/* Footer including social media links */
#social-media {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  color: white;
}

#social-media li {
  font-size: 140%;
  padding: 5%;
  color: #ffffff;
  display: inline-block;
}
}